node_modules
android
plugins
resources
typings
www
out
platforms
.DS_Store
swagger-config
uml
.idea
.editorconfig
.gitignore
browserslist
config.xml
*.mp4
dist
*.json
*.css
*.svg
*.scss
*.js
procfile_*
